# Ignore Python cache and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints

# Ignore virtual environment
.venv/
.vvenv/
.vvvenv/
.env/
*.env
.venvn/
.venv39/
/copy_of_my_copy_modis_pm2_5_delhi_digitcap.py
# Ignore system files
.DS_Store
Thumbs.db
Subhojit/Subhojit.ipynb


# Ignore large datasets or raw data
data/data_files

data/
*.csv
*.npy
*.npz
*.h5
*.tif
*.zip
/locationencoder/
# Ignore model weights or checkpoints
*.pt
# *.pth
*.ckpt

# Ignore IDE/project settings
.vscode/
.idea/
.venvn/
# Ignore temporary outputs
logs/
results/
outputs/
build
results
venv
datasets
lightning_logs
*.DS_Store
.idea
*.pyc
data/
.vvenv/
__pycache__/
.venv39/
*.csv/
.env
.mypy_cache/
.pytest_cache/
doc/
experiments/
logs/
Extrafiles/
subhojit_experiments/

Subhojit_folder/Subhojit.py
Subhojit_folder/__pycache__/
Subhojit_folder/Subhojit.ipynb
Subhojit_folder/data/
Subhojit_folder/venv/
Subhojit_folder/.vscode/
Subhojit_folder/.idea/
Subhojit_folder/.env
Subhojit_folder/.mypy_cache/
Subhojit_folder/.pytest_cache/
Subhojit_folder/doc/
Subhojit_folder/experiments/
Subhojit_folder/logs/
Subhojit_folder/Extrafiles/
Subhojit_folder/subhojit_experiments/
*.pytest_cache/.venvn/
data_files/