# Ignore Python cache and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints

# Ignore virtual environment
venv/
.env/
*.env
.venv/
.venv39/
/copy_of_my_copy_modis_pm2_5_delhi_digitcap.py
# Ignore system files
.DS_Store
Thumbs.db
Subhojit/Subhojit.ipynb


# Ignore large datasets or raw data
data/data_files

data/
*.csv
*.npy
*.npz
*.h5
*.tif
*.zip

# Ignore model weights or checkpoints
*.pt
# *.pth
*.ckpt

# Ignore IDE/project settings
.vscode/
.idea/

# Ignore temporary outputs
logs/
results/
outputs/
build
results
venv
datasets
lightning_logs
*.DS_Store
.idea
*.pyc
data/
__pycache__/
.venv39/

.env
.mypy_cache/
.pytest_cache/
doc/
experiments/
logs/
Extrafiles/
subhojit_experiments/

Subhojit_folder/Subhojit.py
Subhojit_folder/__pycache__/
Subhojit_folder/Subhojit.ipynb
Subhojit_folder/data/